<div class="page-header">
  <h1>User Stories and Business Rules</h1>
</div>

<h4>User Stories</h4>

<ol>
  <li>As a visitor, I want to read some useless marketing propaganda on the home page.</li>
  <li>As a visitor, I want to sign up for a user account so that I can become a customer.</li>
  <li>As a user, I want to create a new bank account.</li>
  <li>As a user, I want to see my account transaction history.</li>
  <li>As a user, I want to make an online deposit to an account.</li>
  <li>As a user, I want to transfer money between my accounts.</li>
  <li>As a user, I want to make a withdrawal.</li>
  <li>As a user, I want to use MaroonPay to pay a friend.</li>
  <li>As a user, I want to close an account.</li>
</ol>


<h4>Business Rules</h4>

<ol>
  <li>A bank account has a name and a list of transactions.</li>
  <li>A transfer moves money between two accounts with the same owner.</li>
  <li>A MaroonPay payment can be considered as a transfer between two accounts with different owners.</li>
  <li>Friends who receive MaroonPay payments must also be MaroonBank customers.</li>
  <li>When an account is closed, any remaining balance is transferred to another account.</li>
  <li>User passwords must be securely encrypted.</li>
</ol>
