<div class="page-header">
  <h1>MaroonPay</h1>
</div>

<h4>Transfer money between two MaroonPay accouts</h4>

<p><a href="/maroonpay">Transfer money between your account!</a></p>
<p><a href="/maroonpay_2">Give a friend money!</a></p>
<%= link_to "Deposit Money!!", {:controller => "maroonpay", :action =>  "show" }%>
<p><a href="/maroonpay/withdraw">Withdraw Money!!</a></p>
