<div class="page-header">
  <h1>MaroonPay</h1>
</div>

<h4>Transfer money between two MaroonPay accouts</h4>


 <p><a href="/maroonpay" class="btn btn-primary" role="button">Transfer money between your account!</a></p>

 <p><a href="/maroonpay_2" class="btn btn-primary" role="button">Give a friend money!</a></p>

 <p><a href="/maroonpay/payment" class="btn btn-primary" role="button">"Deposit Money!!"</a></p>

 <p><a href="/maroonpay/withdraw" class="btn btn-primary" role="button">Withdraw Money!!</a></p>
