<div class="row">



  <!-- Bank Thumbnail -->

    <div class="jumbotron">
      <h1>MaroonBank</h1>

      <h3>We charge outrageous fees everytime you deposit and withdrawl your own
      money.</h3>
      <p><a class="btn btn-primary btn-lg" href="/info" role="button">Learn more</a></p>
    </div>


      <div class="col-sm-12">

        <div style="float:left; width:50%">
          <div class="panel panel-primary">
            <h4>Checking Accounts</h4>
            <h5>Open a checking account with no minimum balance. Transfer money
            to and from your saving account</h5>
            <p><a class="btn btn-primary btn-sm" href="checking_account/help" role="button">View Details</a></p>
          </div>
        </div>

  

        <div style="float:right; width:50%">
          <div class="panel panel-primary">
            <h4>Maroon Pay</h4>
            <h5>Transfer money to your friend, transfer money between your account, or just give yourself more money!</h5>
            <p><a class="btn btn-primary btn-sm" href="/maroonpay/help" role="button">View Details</a></p>
          </div>
      </div>

    </div>




</div>
