<div class="page-header">
  <h1>MaroonPay</h1>
</div>

We take pride in providing the most mediocre service to our customers!
We do not do anything special, in fact the money you put in here isn't real!
Try out our simulation and see how you like it!
